<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zpchcbd.dao.UserMapper">
    <select id="selectUser" resultType="com.zpchcbd.pojo.User">
        select * from admin;
    </select>

    <insert id="addUser" parameterType="com.zpchcbd.pojo.User">
        INSERT INTO admin(id, aname, apwd, customer, level) VALUES(#{id}, #{aname}, #{apwd}, #{customer}, #{level})
    </insert>

    <delete id="delUser" parameterType="int">
        deletes from admin where id = #{id}
    </delete>
</mapper>